name: Build Blue-Green App

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Show tree
        run: |
          ls -la
          ls -la deploy app
      - name: Docker build (compose)
        run: |
          cd deploy
          docker compose build
